<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>

  <appSettings>
    <add key="policyCronPath" value="C:\Users\dorzhevsky\1.txt"/>
    <add key ="TopWordsLang" value=""/>
  </appSettings>  
  
  <connectionStrings>
    <add name="Garda" connectionString="Server=192.168.238.80; Database=tests_dorzhevsky; User Id=postgres; Password=; DbLinqProvider=PostgreSql; DbLinqConnectionType=Npgsql.NpgsqlConnection, Npgsql, Version=2.0.12.91, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    <add name="GardaRaw" connectionString="Server=192.168.238.80; Database=tests_dorzhevsky; User Id=postgres; Password=;" />
    <add name="Indexer" connectionString="http://192.168.238.80:9200" />
    <add name="Finder" connectionString="http://192.168.238.80:8080" />
  </connectionStrings>


  <system.web>
    <membership defaultProvider="PuMembershipProvider">
      <providers>
        <clear/>
        <add
          applicationName="Test"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="false"
          minRequiredNonalphanumericCharacters="1"
          minRequiredPasswordLength="3"
          enablePasswordReset="false"
          enablePasswordRetrieval="false"
          connectionStringName="ApplicationServices"
          name="PuMembershipProvider"
          type="WebPU.Providers.Implementations.PuMembershipProvider, WebPU, Version=0.1.0.0, Culture=neutral, PublicKeyToken=null"/>

      </providers>
    </membership>
  </system.web>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.12.91, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
    </providers>
  </entityFramework>
</configuration>
