@using System.Web.Optimization;
@{
    ViewBag.Title = "Index";
}

<body style="margin:100px;">
    
    <div id="content">
    </div>    
    
    <script type="text/javascript">
        $("#content").load("/Books/Books/Index");
    </script>
</body>

