<form novalidate="novalidate">

    <input type="hidden" name="Id" />

    <div class="col-sm-12">
        <label class="control-label">Название:</label>
        <input type="text" placeholder="Название" class="form-control" name="Title" id="Title" value=""/>
    </div>

    <div class="col-sm-12" style="margin-top: 20px; margin-bottom: 20px;">
        <label class="control-label">Авторы:</label>
        <div class="book-authors">
            <div>
                <button style="margin-top: 10px;" class="btn btn-small list-add">Добавить</button>
            </div>           
        </div>
    </div>

    <div class="col-sm-12">
        <label class="control-label">Год публикации:</label>
        <input type="text" placeholder="2010" class="form-control" name="PublicationYear" />
    </div>

    <div class="col-sm-12">
        <label class="control-label">Кол-во страниц:</label>
        <input type="text" placeholder="100" class="form-control" name="Pages" />
    </div>

    <div class="col-sm-12">
        <label class="control-label">Издательство:</label>
        <input type="text" class="form-control" name="Publication" />
    </div>

    <div class="col-sm-12">
        <label class="control-label">ISBN:</label>
        <input type="text" placeholder="99921-58-10-7" class="form-control" name="Isbn" />
    </div>

    <div class="col-sm-12">
        <div style="margin-top: 10px;" class="book-image"></div>
    </div>

</form>
<div>
    <button style="margin-top: 30px;" class="btn btn-info save-btn">Сохранить</button>
</div>
