<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

    <appSettings>
        <add key="pdfConverterToolPath" value="/opt/wkhtmltopdf" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="xpsConverterToolPath" value="/opt/ghostxps" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="policyCronPath" value="/var/spool/cron/root" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="errorLogFile" value="/tmp/garda_error_logs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="installFolderName" value="install/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="sharedFolderPath" value="/opt/db_agent/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="brokerIp" value="127.0.0.1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
    
    <connectionStrings>
        <add name="Garda"
          connectionString="Server=127.0.0.1; Database=garda; User Id=postgres; Password=; MaxPoolSize=100; DbLinqProvider=PostgreSql; DbLinqConnectionType=Npgsql.NpgsqlConnection, Npgsql, Version=2.0.12.91, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="Indexer"
          connectionString="http://127.0.0.1:9200"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="Finder"
          connectionString="http://127.0.0.1:8080"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>